  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">FC2Search</a>
      </div>
      <p class="hidden-xs navbar-text"><small>無料会員でもFC2のアダルト動画を便利に検索</small></p>
    </div>
  </nav>
