  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-form" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">FC2Search</a>
      </div>
      <p class="hidden-xs navbar-text"><small>無料会員でもFC2のアダルト動画を便利に検索</small></p>
      <div class="collapse navbar-collapseg" id="navbar-form">
        <%= render partial: 'search_navbar_form' %>
      </div>
    </div>
  </nav>
