<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" itemprop="keywords" content="fc2,動画,検索,アダルト,エロ,av,無料会員">
  <meta name="description" itemprop="description" content="無料会員でもFC2のアダルト動画を自由に検索できるサイトです。キーワードはもちろん、再生時間・アルバム数・コメント数によるソートや、一定再生時間以上の動画を検索することができます。">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fc2search</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<footer class="footer">
  <div class="container">
    <div class="ninja_onebutton">
      <script type="text/javascript">
//<![CDATA[
      (function(d){
       if(typeof(window.NINJA_CO_JP_ONETAG_BUTTON_ed06dc51c6f3eff74325f1c70dc5a9ec)=='undefined'){
       document.write("<sc"+"ript type='text\/javascript' src='\/\/omt.shinobi.jp\/b\/ed06dc51c6f3eff74325f1c70dc5a9ec'><\/sc"+"ript>");
       }else{
       window.NINJA_CO_JP_ONETAG_BUTTON_ed06dc51c6f3eff74325f1c70dc5a9ec.ONETAGButton_Load();}
       })(document);
//]]>
      </script><span class="ninja_onebutton_hidden" style="display:none;"></span><span style="display:none;" class="ninja_onebutton_hidden"></span>
    </div>
  </div>
</footer>
</body>
</html>
